.image_Uploader{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid darkgray;
    border-radius: 40px;
}

.imageUploader_headline{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.imageUploader_progressBar{
    width: 100%;
}

.image_UploaderCaption > :-webkit-input-placeholder {
    text-align: 'center';
}

.imageUploader_chooseFile{
    margin-top:5px;
    margin-bottom:5px;
}

.image_Uploade > Button{
    border: 2px solid blue;
}

.image_UploaderCaption{
    line-height: 25px;
    outline: none;
}